@model EmployementData

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="container" >
        <div class="row" >
            <div >
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" disabled class="form-control"/>
            </div>
            <div >
                <label asp-for="LastName"></label>
                <input asp-for="LastName" disabled class="form-control"/>
            </div>
            <div >
                <label asp-for="Department"></label>
                <input asp-for="Department" disabled class="form-control"/>
            </div>
            <div>
                <label asp-for="Salary"></label>
                <input asp-for="Salary" disabled class="form-control"/>
            </div>
            <div >
                <label asp-for="Service" ></label>
                <input asp-for="Service" disabled class="form-control"/>
            </div>

        </div>
        <button class="btn btn-info" >Delete</button>
        <a asp-controller="Emp" asp-action="Index" class="btn btn-dark">Back to List</a>

    </div>

</form>
